main {
  height: 600px;
}

.newsbar {
  width: 92%;
  height: 36px;
  margin: 0 auto;
  background-color: hsl(82, 30%, 35%);
  box-shadow: 3px 3px 10px hsl(0, 0%, 40%);
}
.newsbar marquee {
  height: 24px;
  margin: 6px;
  font-size: 18px;
  font-family: monospace;
  background-color: hsla(48, 100%, 93%, 1);
}

.branch_block {
  margin: 0 2%;
  width: 96%;
  height: 300px;
}

.branch_block h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.branch_cards_block {
  width: 98%;
  margin: 0 1%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.the_card {
  margin: 10px;
  height: 200px;
  width: 200px;
  transition: all 0.2s linear;
  padding: 5px;
  background-color: black;
}
.the_card:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 750px) {
  .the_card {
    height: 140px;
    width: 140px;
    margin: 7px;
  }
}
.card_content {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
}

.progresss {
  text-align: center;
}
