main{
  height: 600px;
}

.newsbar{
  width: 92%;
  height: 36px;
  margin: 0 auto;
  background-color: hsla(82, 30%, 35%, 0.8);
  box-shadow: 3px 3px 10px hsl(0, 0%, 40%);
}
.newsbar marquee{
  height: 24px;
  margin: 6px;
  font-size: 18px;
  font-family: monospace;
  background-color: hsla(48, 100%, 93%, 1);
}

.branch_block{
  margin: 0 2%;
  width: 96%;
  height: 300px;
}

.branch_block h2{
  font-family: cursive;
  text-align: center;
}

.branch_cards_block{
  width: 98%;
  margin: 0 1%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.the_card{
  margin: 10px;
  height: 200px;
  width: 200px;
  transition: all 0.2s linear;
  padding: 5px;
  background-color: black;
}
.the_card:hover{
  transform: scale(1.1);
}
@media screen and (max-width: 750px) {
  .the_card{
    height: 140px;
    width: 140px;
    margin: 7px;
  }
}
.card_content{
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
}

.progresss{
  text-align: center;
}

/* temp */
/* Threangle src code: "https://codepen.io/martinvd/pen/xbQJom" */
.threangle {
  position: relative;
  top: 15%;
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 4px solid blue;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 4px solid green;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 4px solid red;
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
