body{
  margin: 6px 0;
  scroll-behavior: smooth;
}

/*------------------------------------------------------------------------------*/
.page_content{
  margin: 0 3%;
  border-radius: 36px 36px 0 0;
  background-color: hsla(82, 30%, 35%, 0.8);
  height: 900px;
}
/*-------------------------------------------------------------*/
header{
  width: calc(100% - 20px);
  height: 175px;
  padding: 10px;
}
@media screen and (max-width:710px) {
  header{
    height: 390px;
  }
}

/*------------------------------------*/
.header_floats{
  width: calc(50% - 10px);
  height: 175px;
  float: left;
  background-color: hsla(48, 100%, 93%, 1);
}
@media screen and (max-width:710px) {
  .header_floats{
    float: none;
    width: calc(100%);
  }
}

.logo_block{
  border-radius: 30px 0 0 0;
  margin-right: 10px;
  user-select: none;
}
@media screen and (max-width:710px) {
  .logo_block{
    border-radius: 30px 30px 0 0;
    margin-right: 0;
  }
}

.head-logo_block{
  height: 120px;
}

.head-logo_block h1{
  text-align: center;
  font-size: 36px;
  font-family: monospace;
  background-color: red;
}

#heading1{
  margin: 10px auto;
  width: 160px;
  transform: rotate(4deg);
}
#heading2{
  margin: 10px auto;
  width: 300px;
  transform: rotate(-4deg);
}
.description-logo_block{
  height: 38px;
  padding: 0 5px 0;
  border-top: 1px solid black;
}
.description-logo_block p{
  margin: 8px;
  font-size: 12px;
  text-align: center;
  font-family: sans-serif;
}

/*------------------------------------*/
.info_block{
  border-radius: 0 30px 0 0;
  margin-left: 10px;
}
@media screen and (max-width:710px) {
  .info_block{
    border-radius: 0;
    margin-left: 0;
    margin-top: 10px;
  }
}




/*-------------------------------------------------------------*/
