body{
  margin: 6px 0;
  scroll-behavior: smooth;
}

/*------------------------------------------------------------------------------*/
.page_content{
  margin: 0 3%;
  min-width: 375px;
  border-radius: 36px 0 0 0;
  background-color: hsla(82, 30%, 35%, 0.8);
  height: 900px;
}
/*-------------------------------------------------------------*/
header{
  width: calc(100% - 20px);
  height: 175px;
  padding: 10px;
}


.pre-navbars{
  height: 175px;
  width: 100%;
}
@media screen and (max-width:710px) {
  header{
    height: 360px;
  }
  .pre-navbars{
    height: 360px;
  }
}
/*------------------------------------*/
.header_floats{
  width: calc(50% - 10px);
  height: 175px;
  float: left;
  background-color: hsla(48, 100%, 93%, 1);
}
@media screen and (max-width:710px) {
  .header_floats{
    float: none;
    width: calc(100%);
  }
}

.logo_block{
  border-radius: 30px 0 0 0;
  margin-right: 10px;
  user-select: none;
  padding: 0;
}
@media screen and (max-width:710px) {
  .logo_block{
    border-radius: 30px 30px 0 0;
    margin-right: 0;
  }
}

.head-logo_block{
  height: 125px;
  padding: 10px 5px 0;
}

.head-logo_block h1{
  text-align: center;
  font-size: 36px;
  font-family: monospace;
  background-color: red;
}

#heading1{
  margin: 0 auto 0;
  width: 160px;
}
#heading2{
  margin: 10px auto;
  width: 300px;
  transform: rotate(-8deg) skewX(-8deg);
}
.description-logo_block{
  height: 40px;
  padding: 0 5px 0;
  border-top: 1px solid black;
}
.description-logo_block p{
  margin: 8px;
  font-size: 12px;
  text-align: center;
  font-family: sans-serif;
}

/*------------------------------------*/
.info_block{
  margin-left: 10px;
}
@media screen and (max-width:710px) {
  .info_block{
    margin-left: 0;
    margin-top: 10px;
  }
}
.top-info_block{
  height: 115px;
  width: 100%;
  padding: 20px 0 0 0;
  text-align: center;
  font-family: "Segoe UI";
}

.bottom-info_block{
  height: 40px;
  width: 100%;
}
.bottom-info_block ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.bottom-info_block li{
  display: inline-block;
  width: 33.333%;
  height: 40px;
  clear: none;
  float: left;
}
.nav_btns{
  display: block;
  height: 20px;
  padding: 10px 0px;
  background-color: black;
  color: white;
  font-family: "Segoe UI";
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s linear;
}
.nav_btns:hover{
  color: red;
  background-color: hsla(48, 100%, 93%, 1);
}


hr{
  width: 90%;
  margin: 0 auto 10px;
  border: 2px solid black;
}
/*-------------------------------------------------------------*/
main{
  width: 98%;
  height: 400px;
  background-color: hsla(48, 100%, 93%, 1);
  margin: 0 1%;
  padding: 15px 0;
}

.newsbar{
  width: 92%;
  height: 40px;
  margin: 0 auto;
  background-color: green;
}
.newsbar marquee{
  height: 24px;
  margin: 8px;
  font-size: 18px;
  font-family: monospace;
  background-color: hsla(48, 100%, 93%, 1);
}
